.cards {
  /* border: 1px solid red; */
  display: flex;
  margin-top: 5rem;
  gap: 3rem;
}


.cards__container {
  display: flex;
  width: 100%;
  gap: 1rem;
  /* border: 5px solid red; */
}

.cards__income, .cards__expense , .cards__balance{
  border: 1px solid var(--clr-border);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 1rem;
  width: 10rem;
  height:10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
}


.red {
  color: red;
  font-weight: 800;
}

.redBorder {
    border: 3px solid rgb(255, 91, 91);
}


.transactionTable {
  background-color: white; 
  border-radius: 8px;    
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
}

#transaction-table {
  border-collapse: separate;
  border-spacing: 0 1.5rem;   
  width: 100%;
}

.table__header__row {
  text-align: left;
  background-color: white; 
  height: 3rem;
  border-radius: 8px;      
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
}


#myChart {
  position: absolute;
  top: 0;
  right: 0;
}

 
.chart {
  width:30rem;
  position: relative;
  /* border: 1px solid red; */
  display: none;
  width: 60rem;
  height: 30rem;
  padding: 50px;
  margin: 0 auto;
}


