
.cards__left-section {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.liElement {
  max-width: 45ch;
}

.news-title {
  margin-bottom: 1rem;
}


.news__container{ 
  border: 1px solid var(--clr-border);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 1rem;
  max-width: 1000px;

}


.li__container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  max-width: 300px;
  min-height: 300px;
}


.transactionTable {
  /* border: 1px solid red; */
  background-color: none;
}

.transactionSec {
  /* border: 5px solid green; */
  background-color: white; 
  border-radius: 8px;    
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
}


#news-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.transaction__top {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#search {
  border: 2px solid var(--clr-border);
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 8px;

}

.filter__right {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}

.filter__icon {
  width: 3rem;
}

.hide {
  display: none;
}

.transaction__top-right {
  display: flex;
  gap: 1rem;
}


.cards {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
.chart {
  /* border: 1px solid red; */
  display: flex;
  gap: 5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.btnDiv {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

.news__btn-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}



.disableBtn {
  color: gray;
  
}


.chart {
  width: 100%;
  max-width: 450px; 
  height: 500px;    
}

#myChart, #barChart {
  width:  30rem;
  height: 20rem;
}

#myChart {
  margin-bottom: 5rem;
  border: var(--clr-border);
}

#barChart {
  margin-bottom: 5rem;
    border: var(--clr-border);
}

a:hover {
  color: var(--clr-primary-hover);
}


.transactionTable {
  margin-top: 5rem;
}


.liElement a {
  display: block;
  margin-bottom: 0.5rem;
}

.liElement p {
  margin-bottom: 1rem;
}


#news-list {
  list-style: none;
  margin: 0;
  padding: 0;
}


.cards__container {
  display: flex;
  gap: 1rem;
}


.cards__income, .cards__expense , .cards__balance{
  border: 1px solid var(--clr-border);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 1rem;
  width: 10rem;
  height:10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
}


.red {
  color: red;
  font-weight: 800;
}

.redBorder {
    border: 3px solid rgb(255, 91, 91);
}


#transaction-table {
  border-collapse: separate;
  border-spacing: 0 1.5rem;   
  width: 100%;
}

.table__header__row {
  text-align: left;
  background-color: white; 
  height: 3rem;
  border-radius: 8px;      
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
}


.transactionTable > div {
  padding: 2rem; 
}

#transaction-table th,
#transaction-table td {
  padding: 0.75rem 1rem; 
}

.transactionTable h2 {
  margin-bottom: 1rem;
}